 @import "bourbon", "bitters/base";

 @import "fonts";
 @import "vars";

 // safari hack
 body {
 	&.safari.iphone {
 		p,h1,h2,h3,h4,li {
 			font-weight: 100 !important;
 			-webkit-text-stroke: 0.04em;
 		}
 		
 	}
 }

 .wrapper {
 	background-color: $grey;
 	text-align: center;
 	text-transform: uppercase;
 	letter-spacing: 0.18em;
 	text-rendering: optimizeLegibility;
 	-webkit-text-rendering: optimizeLegibility;
 	@media screen and (max-width: 320px) {
 		font-size: 0.8em;
 	}
 	a {
 		color: inherit;
 		text-decoration: none;
 		
 	}
 }
 section {
 	overflow: hidden;
 }

 .top,.info {
 	background-color: $green;
 	color:$pink;
 }

 .inner {
 	max-width: 1100px;
 	margin:40px auto;
 	padding: 0 20px;
 }

 .flex {
 	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	align-items: center;
 	img {
 		height: 100%;
 		width: 100%;
 		float: left;
 	}
 }

 ul {
 	justify-content: center;
 	li {
 		width:16px;
 		&:nth-child(2){
 			margin:0 18px;
 		}
 	}
 }

 .top {
 	.inner {
 		margin:14px auto;
 		justify-content: space-between;
 		p {
 			margin: 0;
 			line-height: 14px;
 		}
 	}
 	
	@media screen and (max-width: 700px) {
		.flex {
			justify-content: center;
		}
		.social {
			display: none;
		}
	}
 	

 }

 .main {
 	.header {
 		h1 {
 			margin:46px auto;
 			max-width: 515px;
 			&.mob {
 				display: none;
 			}
 			@media screen and (max-width:700px) {
 				display: none;
 				&.mob {
 					display: block;
 				}
 			}
 		}
 	}
 	.slider_wrap {
 		margin:40px 0;
 		width: calc(100% + 10px);
 		transform: translate(-5px);
 		
 		.slide_inner {
 			display: flex;
 			figure {
 				background-position: center center;
 				background-size: cover;
 				height: 0;
 				padding-bottom: 43%;
 				margin:0 5px;
 				&._66 {
 					width:calc(100% - 100% / 3 - 10px);
 				}
 				&._33 {
 					width:calc(100% / 3 - 10px);
 				}
 			}	

 		}
 		.mob {
 			display: none;
 			
 		}
 		@media screen and (max-width: 700px) {
 			.slider {
 				display: none;
 			}
 			.mob {
 				display: block;
 				.slide_inner {
 					flex-wrap:wrap;
 					figure {
 						margin:5px;
 						width:100%;
 						padding-bottom: 56%;
 						&._50 {
 							width: calc(50% - 10px);
 						}

 					}
 				}
 			}
 		}
 	}
 	.content {
 		margin:40px 0;
 		position: relative;
 		&:before {
 			content: "";
 			position: absolute;
 			top:0;
 			left: 50%;
 			height:100%;
 			width: 0;
 			border-right: 1px solid rgba(33,64,64,0.4);
 		}
 		.flex {
 			> div {
 				width: calc(100%/3);
 				height: 100%;
 				&.text {
 					p {
 						padding:11px 18px;
 						background-color: $grey;
 						margin: 0;
 						z-index: 1;
 						position: relative;
 					}
 				}
 			}
 			@media screen and (max-width: 700px) {
 				.logo {
 					display: none;
 				}
 				.text {
 					max-width: 320px;
 					width: 100%;
 					margin:0 auto;
 					padding:73px 0;
 				}
 			}
 		}
 	}
 }

 .footer {
 	ul {
 		margin: 40px 0;
 		@media screen and (max-width: 700px) {
 			flex-direction: column;	
 			li {
 				width: 20px;
 				&:nth-child(2){
 					margin: 20px 0;
 				}
 			}
 		}
 	}
 }

 
