/* Webfont: Palais-Regular */@font-face {
    font-family: 'Palais';
    src: url('Palais-Regular.eot'); /* IE9 Compat Modes */
    src: url('Palais-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Palais-Regular.woff') format('woff'), /* Modern Browsers */
         url('Palais-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Palais-Regular.svg#Palais-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

