<link rel="apple-touch-icon" sizes="180x180" href="/queens-theme/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/queens-theme/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/queens-theme/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/queens-theme/assets/favicon/site.webmanifest">
<link rel="mask-icon" href="/queens-theme/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/queens-theme/assets/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#e8e2d9">
<meta name="msapplication-TileImage" content="/queens-theme/assets/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="/queens-theme/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#e8e2d9">