html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-fz;
  line-height: $base-line-height;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 40px 0 $small-spacing;
  font-size: 1em;
  line-height: 1em;
}
h3 {
  text-decoration: underline;
  text-underline-position: under;  
  -webkit-text-underline-position: under;  
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
